.my-account {
  padding: 0.32rem;
  .user-info {
    display: flex;
    align-items: center;
    .name {
      font-size: 0.3rem;
    }
    .head-sculpture {
      flex: 1;
      text-align: right;
      img {
        width: 0.6rem;
        height: 0.6rem;

        &:nth-child(2) {
          margin-left: 0.4rem;
          width: 0.4rem;
          height: 0.4rem;
        }
      }
    }
  }
  .cards {
    .item {
      background-color: #1469B3;
      padding: 0.3rem;
      border-radius: 0.1rem;

      > div {
        font-size: 0;
        &:nth-child(1) {
          img {
            width: 0.26rem;
            height: 0.26rem;
            margin-right: 0.1rem;
            position: relative;
            top: 0.05rem;
          }
          span {
            font-size: 0.28rem;
            position: relative;
            // &::before {
            //   content: " ";
            //   position: absolute;
            //   left: 0;
            //   top: -1px;
            //   width: 100%;
            //   height: 1px;
            //   background-color: black;
            // }
          }
        }
        &:nth-child(2) {
          margin-top: 0.2rem;
          display: flex;
          align-items: center;
          height: 0.5rem;
          div {
            color: #fff;
            font-size: 0.36rem;
            &:nth-child(2) {
              font-size: 0.28rem;
              display: inline-block;
              margin-left: 0.18rem;
              line-height: 0.5rem;
            }
          }
        }
        &:nth-child(3) {
          margin-top: 0.09rem;
          div {
            font-size: 0.26rem;
            color: #fff;
          }
        }
        &:nth-child(4) {
          margin-top: 0.12rem;
          div {
            font-size: 0.36rem;
            color: #fff;
          }
        }
      }
    }
  }
  .account-manage {
    margin-top: 0.3rem;
    .module-name {
      font-size: 0.32rem;
      font-weight: 600;
    }
    .options {
      display: flex;
      margin-top: 0.26rem;
      .items {
        width: 1.3rem;
        margin-right: 0.5rem;
        div {
          width: 0.7rem;
          height: 0.7rem;
          border-radius: 50%;
          display: flex;
          align-items: center;
          justify-content: center;
          img {
            margin-top: 0.14rem;
            width: 0.4rem;
            height: 0.4rem;
          }
          &:nth-child(2) {
            width: 100%;
          }
        }
        div {
          font-size: 0.24rem;
          text-align: center;
          color: #535252;
        }
        &:nth-child(1) {
          font-size: 0;
          text-align: center;
          .img-box {
            display: inline-block;
            background-color: #397af7;
          }
        }
        &:nth-child(2) {
          font-size: 0;
          text-align: center;
          .img-box {
            display: inline-block;
            background-color: #fba113;
          }
        }
        &:nth-child(3) {
          font-size: 0;
          text-align: center;
          .img-box {
            display: inline-block;
            background-color: #7750ee;
          }
        }
      }
    }
  }
}
