.read-agreement {
  background-color: #F4F4F4;
  box-sizing: border-box;
  padding-bottom: 1rem;
  .content {
    // width: 100%;
    padding: .32rem;
    line-height: 30px;
    font-size: .32rem;
    color: #424652;
    background-color: #FFFFFF;
    p {
      padding: 0;
      margin: 0;
    }
  }
  .confirm {
    width: 100%;
    position: fixed;
    bottom: 0;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #557ED6;
    font-size: 18px;
    color: #FFFFFF;
    font-weight: bold;
    border-radius: 8px;
  }
}